# =========================
# dbt
# =========================
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/
env/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo
*~

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker/metastore_db/
derby.log

# =========================
# AWS
# =========================
.aws/

# =========================
# Data
# =========================
data/raw/*
!data/raw/.gitkeep
